html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #86878b;		
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
input,
button,
textarea,
select {
	border: none;
}
button {
	background-color: transparent;
	cursor: pointer;
}
textarea {
	resize: none;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}


.link-download {
	width: 137px;
	padding: 10px 5px;
	font-size: 15px;
	font-weight: 600;
	border: 2px solid #fff;
	text-align: center;
}
