html {
	box-sizing: border-box;
}
*,
*::after,
*::before {
	box-sizing: inherit;
}
html,
body {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	font-family: 'OpenSans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	color: #86878b;		
}
ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	display: inline-block;
	text-decoration: none;
	color: #fff;
}
input,
button,
textarea,
select {
	border: none;
	outline: none;
}
button {
	background-color: transparent;
	cursor: pointer;
}
textarea {
	resize: none;
}
input:focus::placeholder,
textarea:focus::placeholder {
	font-size: 0;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	overflow-x: hidden;
  position: relative;
}
.content {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}


.link-download {
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	position: relative;
	span {
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		display: inline-block;
		padding: 10px 5px;
		border: 2px solid #fff;
		width: 137px;
		transition: all .3s;
	}
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0px;
		right: 0;
		border: 2px solid #fff;
		width: 137px;
		margin: 0 auto;
		height: 48px;
		transition: all .3s;	
	}
	&:hover span {
		padding: 14px 5px;
	}
	&:hover::before {
		width: 145px;
		left: -4px;
	}
}


.mini-title {
	font-size: 20px;
	font-weight: 700;
}


.tab-item {
	display: none;
	&.active-tab {
		display: block;
	}
}

.downloand-orange {
	color: #fff;
	padding: 11px 24px;
	background-color: $orange;
	border-radius: 3px;
	font-size: 15px;
	font-weight: 600;
	position: relative;
	box-shadow: 0px 3px #e67e22;
	&:active {
		top: 2px;
		box-shadow: 0px 1px #e67e22;
	} 
}

.project__box {
	&-inner {
		margin-top: 70px;
		display: flex;
		justify-content: space-between;
	}
	&-panel {
		height: 100%;
		margin-top: 20px;
		padding-top: 12px;
		background-color: #ececec;
		max-width: 600px;
		width: 100%;
		position: relative;
		box-shadow: 0px 3px 20px rgba(#000, 0.3); 
		a {
			display: block;
		}
	}
	&-images{
			min-height: 320px;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
	}
	.descr {
		position: absolute;
		top: -8px;
		left: 4px;
	}
	&-circle {
		height: 4px;
		width: 4px;
		display: inline-block;
		border-radius: 50%;
		&--red {
			background-color: #fb5047;
		}
		&--yellow {
			background-color: #f7b503;
		}
		&--green {
			background-color: #1ebe34;
		}
	}
}

.subtitle {
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 28px;
	margin-bottom: 30px;
	position: relative;
	color: #333;
	&::before {
		content: '';
		position: absolute;
		bottom: 0;
		width: 65px;
		height: 2px;
		background-color: $orange;
	}
}

.headline {
	text-align: center;
	&__title {
		color: #212121;
		font-size: 36px;
		line-height: 36px;
		font-family: Raleway, sans-serif;
		padding-bottom: 26px;
		margin-bottom: 25px;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			transform: translateX(-50%);
			width: 64px;
			height: 2px;
			background-color: $orange;

		}
	}
}

//start validation form
.customer__form-message,
.form__default {
	transition: all .5s;
	position: relative;
}
.form__default.error::before,
.customer__form-message.error::before {
	content: '';
	border: 2px solid rgba(#e74c3c, .8);
	position: absolute;
	bottom: 0;
	width: 100%;
}	
.form__default.error,
.customer__form-message.error {
	input {
		border: 0;
	}
	textarea {
		border: 0;
	}
}

.customer__inner {
	position: relative;
}
.customer .descr {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	max-width: 400px;
	width: 100%;
	height: 200px;
	margin: 0 auto;
	background-color: $bg;
	display: flex;
	flex-direction: column;
	padding: 0px 15px;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: scale(0);
	transition: all .3s;
	&.active {
		transform: scale(1);
	}
	.mini-title {
		color: #333;
	}
	button {
		display: block;
		margin-top: 30px;
	}
}
.overlay {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(#000, .5);
	transform: translateX(-200%);	
	transition: all .3s;
}
.overlay.active {
	transform: translateX(0);
}

//end validation form 
// start animation
@keyframes rotateClose {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(190deg);
	}
	100% {
		transform: rotate(180deg);
	}
}
// start logo
@keyframes elemone {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(48px, 0);
	}
	50% {
		transform: translate(48px, 48px);
	}
	75% {
		transform: translate(0px, 48px);
	}
}

@keyframes elemtwo {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0px, 48px);
	}
	50% {
		transform: translate(-48px, 48px);
	}
	75% {
		transform: translate(-48px, 0px);	
	}
}

@keyframes elemthree {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(-48px, 0px);
	}
	50% {
		transform: translate(-48px, -48px);
	}
	75% {
		transform: translate(0px, -48px);	
	}
}

@keyframes elemfour {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(0px, -48px);
	}
	50% {
		transform: translate(48px, -48px);
	}
	75% {
		transform: translate(48px, 0px);	
	}
} 



#SvgjsG1108 {
	path:nth-child(1){
		animation: 8s elemone both 1s infinite;
	}
	path:nth-child(4){
		animation: 8s elemtwo both 1s infinite;
	}
	path:nth-child(3){
		animation: 8s elemthree both 1s infinite;
	}
	path:nth-child(2){
		animation: 8s elemfour both 1s infinite;

	}
}
// end logo

.icon-facebook:hover {
	color: #3b5998;
}
.icon-twitter:hover {
	color: #00acee;
	
}
.icon-google:hover {
	color: #db4a39;
}
.icon-pinterest:hover {
	color: #BD081C;
}
.icon-instagram:hover {
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: 1s op both;  
}
@keyframes op {
	0%{
		background-position: 0 50%;
		opacity: 0.7;
	}
	50% {
		background-position: 100% 50%; 
	}
	100%{
		background-position: 0 50%;
		opacity: 1;
	}
}
//Здесь есть небольшой казус анимация работает 
// но как сделать плавность когда она пропадает я не знаю так как градиент сложно заанимировать 
.icon-stumbleupon:hover {
	color: #EB471D;
}
.icon-feed:hover {
	color: #ee802f;
}
// end animation 